# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# App
# Use the production URL when deploying to production
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Get the Database URL from the "prisma" dropdown selector in PlanetScale. Change the query params at the end of the URL to "?ssl={"rejectUnauthorized":true}"
DATABASE_URL="postgres://fl0user:7MvJaeVYq5nu@ep-gentle-fog-04862045.eu-central-1.aws.neon.fl0.io:5432/beeyoudb?sslmode=require"


# Clerk Auth
# pk_test, and sk_test are development keys
# For production, use pk_live, and sk_live keys (a domain is required)
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_"
# CLERK_SECRET_KEY="sk_test_"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bG95YWwtbWlubm93LTI0LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_DTUewV8FRaQzTqE3qI85w6UfqWgjbXFtcVo7u5jLgB

# React email (resend)
# Resend API Key found at https://resend.com/api-keys
RESEND_API_KEY="re_VhNBPcDX_7Kv6QdSeB6Q7LQrnSxZCH57n"
# We need to register a domain with Resend to send emails from
# Register a domain at https://resend.com/domains
# Or we can use this email provided by resend for only testing: "onboarding@resend.dev"
EMAIL_FROM_ADDRESS="onboarding@resend.dev"

# uploadthing
UPLOADTHING_SECRET=sk_live_9ea688b4b1326bd7cdd621a99ed80d02f8b91964972c0d14290a33179cdbca6d
UPLOADTHING_APP_ID=b9ghnyr34e

# Stripe
# Stripe Publishable Key and Secret Key found at https://dashboard.stripe.com/test/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51NGSM8IVk8RfOzXrPBAr8XI8saJat6UnUz65Py3alSaOQafwCdyWCxDR4dXO5JDeK3KI2i9mvND54jZBWePtO2KG00qn1WC7M1"
STRIPE_API_KEY="sk_test_51NGSM8IVk8RfOzXrc4Eqb9et4UsT43jSjCezbtVIlSyKSh89oADAVNEExh2eqKoGtScE1zetEBH0hLxZHU4WYao3000kqkBPdY"
# Stripe Webhook Secret found at https://dashboard.stripe.com/test/webhooks/create?endpoint_location=local
# This need to replaced with the webhook secret for your webhook endpoint in production
STRIPE_WEBHOOK_SECRET="whsec_7ed9abbaa92ec6eb6fe6a9ec9ad567eedc56df45c538aa58e14ce88d150119ad"
# Stripe Product and Price IDs for your created products
# found at https://dashboard.stripe.com/test/products
STRIPE_STD_MONTHLY_PRICE_ID="price_1OPDedIVk8RfOzXrgeRwvuEc"
STRIPE_PRO_MONTHLY_PRICE_ID="price_1OPDeqIVk8RfOzXrwMqAyxbi"

# Optional
# OpenAI API Key
# OPENAI_API_KEY="sk-"
